{% extends 'base.html.twig' %}

{% block title %}Availability Details{% endblock %}

{% block body %}
<h1>Availability Details</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <td>{{ disponibilite.id }}</td>
    </tr>
    <tr>
        <th>Doctor</th>
        <td>{{ disponibilite.medecin.nom }} {{ disponibilite.medecin.prenom }}</td>
    </tr>
    <tr>
        <th>Start</th>
        <td>{{ disponibilite.debut ? disponibilite.debut|date('d/m/Y H:i') : '' }}</td>
    </tr>
    <tr>
        <th>End</th>
        <td>{{ disponibilite.fin ? disponibilite.fin|date('d/m/Y H:i') : '' }}</td>
    </tr>
    <tr>
        <th>Available?</th>
        <td>{{ disponibilite.estLibre ? 'Yes' : 'No' }}</td>
    </tr>
</table>
 
<a href="{{ path('app_disponibilite_edit', {'id': disponibilite.id}) }}" class="btn btn-warning">Edit</a>
<a href="{{ path('app_disponibilite_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
